@model UI.Employee

@{ ViewData["Title"] = "AddNew"; }

<h1>Add new Employee</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EmpCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmpID" class="control-label"></label>
                <input asp-for="EmpID" class="form-control" />
                <span asp-validation-for="EmpID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpDepartment" class="control-label"></label>
                @Html.DropDownListFor(emp => emp.EmpDepartment, new SelectList(Enum.GetValues(typeof(Department))), "Select Department", new { @class = "form-control" })
                <span asp-validation-for="EmpDepartment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpName" class="control-label"></label>
                <input asp-for="EmpName" class="form-control" />
                <span asp-validation-for="EmpName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpSalary" class="control-label"></label>
                <input asp-for="EmpSalary" class="form-control" />
                <span asp-validation-for="EmpSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="EmpListView">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
