@model UI.Employee

@{ ViewData["Title"] = "Salary"; }

<h1>Search Employee Id</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EmpSalary">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmpID" class="control-label"></label>
                <input asp-for="EmpID" class="form-control" />
                <span asp-validation-for="EmpID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="EmpListView">Back to List</a>
</div>
@if (ViewBag.Message != null)
{
<script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
</script>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
